/* Main css for webapp */

@font-face {
    font-family: "Raleway";
    src: url("./../../WebApp/assets/font/Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: 600;
}

body {
    overflow: hidden; /*this is to dissable scrolling*/
}

.scrollable {
    overflow: scroll;
    overflow-x: hidden;
}

.header {
    position: fixed;
    width: 95%;
    height: 5%;
    margin-top: 20px;
    top: 20px;    margin-left: auto;
    margin-right: auto;
    left: 50%;
    margin-left: -47.5%;
}

.sportbudlogo {
    font-family: "Raleway";
    font-size: 30px;
    transition: color 0.25s;
    color: black;
    text-decoration: none;
}

.sportbudlogo:hover {
    color: #FF4363;
}

h1 {
    font-family: "Raleway";
    font-size: 4vw;
    margin: 0px;
    transition: color 0.25s;
}

h1:hover{
    animation: shake 0.25s;
    color: #FF4363;
}

h2 {
    font-family: "Raleway";
    font-size: 2vw;
    margin: 0px;    
    transition: color 0.25s;
}

h2:hover{
    animation: shake 0.25s;
    color: #FF4363;
}

p {
    margin: 0px;
    padding: 0px;
}

.wrapperwelcomemessage {
    position: absolute;
    left: 5%;
    margin-top: 16vh;
    width: 50%;
}

.btn {
    border: none;
    background-color: white;
    text-decoration: none;
}

btn:hover {
    cursor: pointer;
}

.btn img {
    text-align: right;
    height: 25px;
    margin: 7px;
}

.leftfloat {
    float: left;
}

.rightfloat {
    float: right;
}

.bottomscreen {
    position:fixed;
    bottom:0px;
    width: 100%;
    left: 0px;
    z-index: -20;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Calendar */

.calendarDiv {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    width: 60%;
    z-index: 200;
}

.empty {
    flex: 1 1 20%;
    min-width: 10ch;
    align-self: center;
}

.calendar {
    flex: 1 1 80%;
    min-width: 50ch;
    align-self: center;
}

.formEvent {
    flex: 1 1 20%;
    margin-right: 7ch;
    min-width: 10ch;
    align-self: center;
}

.fc-button-group {
    background-color: #FF4363;
}

.fc-prev-button {
    background-color: #FF4363;
}

.fc-prev-button {
    color: #FF4363;
}

.addEventBtn{
    border-style: solid;
    background: linear-gradient(344deg, rgba(117,33,46,1) 0%, rgba(255,67,99,1) 100%);
    color: white;
    border-color: #9e2a3d;
    display: inline-block;
    border-radius: 20px;
    border-width: 2px;
    width: 10vw;
    padding: 10px;
    font-family: 'Raleway';
    font-size: 1vw;
    text-align: center;
    transition: color 0.5s;
    margin-top: 10px;
    margin-bottom: 3%;
    z-index: 200;
}

.addEventBtn:hover {
    font-family: 'Raleway';
    color: #9e2a3d;
    background: white;
}

.inputCalendar {
    width: 10vw;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #FF4363;
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}


/* messages */

.messages{
    overflow: scroll;
    border-width:2px;
    border-style:solid;
    border-color:black;
    position: absolute;
    top: 25%;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
    width: 50%;
    height: 50%;
}

.sendMessages{
    border-width:2px;
    border-style:solid;
    border-color:black;
    position: absolute;
    top: 75%;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
    width: 50%;
    height: 25px;
}
.messageInput{
    width: 75%;
}


/* width scrollbar */
::-webkit-scrollbar {
    width: 0px;
  }

  /* Track scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle scrollbar */
::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover scrollbar */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li{
    display:inline-block;
    clear: both;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
}

.recieve{
    background: #eee;
    float: left;
}

.send{
    float: right;
    background: #0084ff;
    color: #fff;
}

.recieve + .send{
    border-bottom-right-radius: 5px;
}

.send + .send{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.send:last-of-type {
    border-bottom-right-radius: 30px;
}

p {
    font-family: 'Raleway';
}

.loginWrapper {
    position: relative;
    width: fit-content; 
    /*background-color: #7a92a8;*/
    left: 37%;
    margin-top: 8%;
    text-align: center;
}
.typingField {
    font-family: 'Raleway';
    font-size: 1.5vw;
    color: #9e2a3d;
    border-style: solid;
    border-width: 2px;
    border-color: #FF4363;
    display: inline-block;
    border-radius: 20px;
    padding: 2vw;
    width: 20vw;
    background-color: white;
    margin-bottom: 3%;
}

.myButton {
    border-style: solid;
    background: linear-gradient(344deg, rgba(117,33,46,1) 0%, rgba(255,67,99,1) 100%);
    color: white;
    border-color: #9e2a3d;
    display: inline-block;
    border-radius: 20px;
    border-width: 2px;
    width: 22.3vw;
    padding: 1.5vw;
    font-family: 'Raleway';
    font-size: 2vw;
    text-align: center;
    transition: color 0.5s;
    margin-bottom: 100px;
    
}

.myButton:hover {
    cursor: pointer;
    background: white;
    color: #FF4363;
}

.loginTitle{
    color: #FF4363;
    margin-bottom: 10%;
    font-size: 6vw;
}

.typingField::placeholder {
    font-family: 'Raleway';
    color: #9e2a3d;
    font-size: 1.5vw;
    text-align: center;
}

.createAccMess {
    position: fixed;
    width: 500px;
    bottom: 13%;
    left: 50%;
    margin-left: -106px;
}

.createAccLink {
    z-index: 101;
    position: fixed;
    font-family: 'Raleway';
    width: 500px;
    bottom: 10%;
    left: 50%;
    margin-left: -60px;
    color: #FF4363;
}

.createAccLink:active {
    color: #9e2a3d;
}

.createAccLink:visited {
    color: #9e2a3d;
}

.errorMessage {
    color: #9e2a3d;
    font-style: 'Raleway';
    font-size: 1.5vw ;
}

.center {
    text-align: center;
}

.createAccField {
    font-family: 'Raleway';
    font-size: 1.5vw;
    color: #9e2a3d;
    border-style: solid;
    border-width: 2px;
    border-color: #FF4363;
    display: inline-block;
    border-radius: 20px;
    padding: 1vw;
    width: 20vw;
    background-color: white;
    margin-bottom: 3%;
    z-index: 100;
}

.createAccFieldBtn {
    font-family: 'Raleway';
    font-size: 1.5vw;
    color: #9e2a3d;
    border-style: solid;
    border-width: 2px;
    border-color: #FF4363;
    display: inline-block;
    border-radius: 20px;
    padding: 1vw;
    width: 20vw;
    background-color: white;
    margin-bottom: 3%;
    z-index: 100;
}

.createAccFieldBtn:hover {
    background-color: black;
    cursor: pointer;
}

.createAccField::placeholder {
    font-family: 'Raleway';
    color: #9e2a3d;
    font-size: 1.5vw;
    text-align: center;
}

main {
    position: relative;
    width: fit-content; 
    /*background-color: #7a92a8;*/
    left: 38.5%;
    text-align: center;
}

.formMargin {
    position: absolute;
    z-index: -21;
}

.centerTitle {
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    color: #FF4363;
}

/* BUTTONS SPORT */


.container-buttons {
    max-width: 640px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}

/* SWIPE */

.allUsers {
    flex-grow: 1;
    padding-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}

.swipe-card {
    display: none;
    width: 60vw;
    max-width: 400px;
    height: fit-content;
    background: white;
    padding-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.swipe-card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.swipe-card button {
    margin-top: 20px;
    padding:0.35em 1.2em;
    border:0.1em solid #FF4363;
    margin:0 0.3em 0.3em 0;
    border-radius:40px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    background-color: #FF4363;
    text-align: center;
    transition: all 0.3s ease-in-out;
    z-index: 100;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}


.swipe-card button:hover{
    background-color: #9e2a3d;
    border:0.1em solid #9e2a3d;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.profilePicture {
    margin-top: 2vh;
    max-width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.profilePicture:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.check {
    font-family: 'Raleway';
    font-size: larger;
    margin-top: .5em;
    margin-bottom: .5em;
    color: #9e2a3d;
}

.profileName {
    font-family: "Raleway";
    font-size: 4vw;
    margin: 0px;
    text-shadow: 2px 2px 5px rgba(134, 134, 134, 0.8);
}

.profileInfo {
    font-family: "Raleway";
    color: rgba(0, 0, 0, 0.479);
    font-size: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-shadow: 1px 1px 3px rgba(134, 134, 134, 0.5);
}

.friendsWrapper {
    position: fixed;
    right: 25vw;
    top: 15%;
    font-family: 'Raleway';
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #adadad2c;
}

.friendsWrapper:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.tableFriends {
    margin: 3vh;
}

tr {
    font-family: 'Raleway';
    font-size: large;
    color: #555;
    transition: color 0.3s ease-in-out;
}

tr:hover{
    color: rgba(255,67,99,1);
}

td {
    font-size: medium;
    color:rgba(134, 134, 134, 1);
    transition: color 0.3s ease-in-out;
}

td:hover{
    color:#9e2a3d;
}